#room-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: bisque;
  align-items: center;
}

#chat-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 40vw;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

#messages-container {
  flex: 8;
  overflow-y: auto;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 30vw;
}

#messages-container div {
  font-family: Helvetica;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

#send-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#send-button {
  background: #757c66;
  border-radius: 10px;
  border: 1px solid #757c66;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 7px 10px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 136, 136, 0.6);
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-accept {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background: #757c66;
  border: 0;
  border-radius: 5px;
  padding: 6px;
}

#game-container {
  flex: 7;
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(8, 5vw);
  padding: 2.5%;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
}

#game-container.black {
  transform: scaleY(-1);
}

#game-container .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15.5%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#game-container.black .cell {
  transform: scaleY(-1);
}

#game-container .cell .piece {
  width: 75%;
  height: 75%;
  max-height: 75%;
  max-width: 75%;
}

#game-container .cell.selected .piece {
  width: 85%;
  height: 85%;
  max-height: 85%;
  max-width: 85%;
  background-color: rgba(230, 175, 101, 0.5);
}

@media only screen and (max-width: 1440px) {
  #game-container {
    grid-template-columns: repeat(8, 7vw);
    grid-template-rows: repeat(8, 7vw);
  }

  #chat-container {
    height: 56vw;
  }

  #send-container {
    height: 14vw;
  }

  #messages-container {
    height: 42vw;
  }
}

@media only screen and (max-width: 1024px) {
  #game-container {
    grid-template-columns: repeat(8, 9vw);
    grid-template-rows: repeat(8, 9vw);
  }

  #game-container .cell .piece {
    width: 85%;
    height: 85%;
    max-height: 85%;
    max-width: 85%;
  }

  #game-container .cell.selected .piece {
    width: 90%;
    height: 90%;
    max-height: 90%;
    max-width: 90%;
  }

  #chat-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #game-container {
    grid-template-columns: repeat(8, 12vw);
    grid-template-rows: repeat(8, 12vw);
    padding: 0;
  }
}
