#room-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: bisque;
  outline: 1px solid black;
}

#chat-container {
  outline: 1px solid green;
  flex: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.5%;
}

#messages-container {
  flex: 8;
  outline: 1px solid blue;
  overflow-y: scroll;
}

#send-container {
  flex: 2;
  outline: 1px solid pink;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-accept {
  font-size: 14px;
  line-height: 18px;
  color: white;
  background: green;
  border: 0;
  border-radius: 5px;
  padding: 6px;
}

#game-container {
  outline: 1px solid red;
  flex: 7;
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  grid-template-rows: repeat(8, 5vw);
  padding: 2.5%;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
}

#game-container.black {
  transform: scaleY(-1);
}

#game-container .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15.5%;
}

#game-container.black .cell {
  transform: scaleY(-1);
}

#game-container .cell .piece {
  width: 75%;
  height: 75%;
  max-height: 75%;
  max-width: 75%;
}

@media only screen and (max-width: 1024px) {
  #game-container {
    grid-template-columns: repeat(8, 8vw);
    grid-template-rows: repeat(8, 8vw);
  }
}
